canvas {
	margin: 0% 0% 0% 10%;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.time {
	width: 0%;
	margin: 0%;
	padding: 0%;
	position: absolute;
    left: 1%;
    top: 0%;
	color: black;
}

.pause {
	width: 0%;
	margin: 0%;
	padding: 0%;
	position: absolute;
    right: 1%;
    top: 0%;
	color: black;	
}